html {
    background-color: rgba(0, 0, 0);
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

ul li:nth-of-type(1n+11) {
    display: none;
  }

.jumbotron {
    background-color: black;
    color: white
}

.let_find {
    border: 10px solid black;
    height: 120px;
    width: 60px;
    background-color: white;
    color: black;
    font-size: 60px;
}

.consoleG {
    color: #82E0AA;
}

.consoleB {
    color: #F1948A;
}

.consoleNG {
    color: white;
}

.consoleErr {
    color: red;
}

.consoleVict {
    color: blueviolet;
}

.consoleRes {
    color: white;
}

.consoleDef {
    color: red;
}

#GameBoard {
    margin: 10px auto;
}

#Actions {
    margin-top: 50px;
}

#try {
    font-size: 80px;
}

#GameBtn {
    padding-bottom: 25px;
}

#bottom {
    margin-top: 40px;
}

#usedLetters {
    font-size: 40px;
}